/************************************************************************\
	VuSystems
	---------------------------------------------------------------------
	MODULE:		mixins.scss
	PURPOSE:	general clever bits of sassy goodness
	@author:	dan moe & chris grace
/************************************************************************/
