/************************************************************************\
	VuSystems
	---------------------------------------------------------------------
	MODULE:		structure.scss
	PURPOSE:	core structure
	@author:	dan moe & chris grace
/************************************************************************/
