/************************************************************************\
	VuSystems
	---------------------------------------------------------------------
	MODULE:		globals.scss
	PURPOSE:	global clasess
	@author:	dan moe & chris grace
/************************************************************************/

a {
	text-decoration : none !important;
	@include vendor-prefix(transition, all 0.3s linear);

	&:hover {
		opacity: 0.6;
	}
}

.readmore {
	text-transform : lowercase;
	&:hover {
		color:$neutral-light;
	}
}

.arrow {
	@include arrow-link();

	&.up {
		@include vendor-prefix(transform, rotate(180deg));
	}

	&.right {
		@include vendor-prefix(transform, rotate(-90deg));
	}
}

.fadein {
	opacity:0;
	margin-top: 2em;

	// non js fallback
	.no-js & {
		opacity:1;
		margin-top: 0;
	}
}

.img-responsive {
	width : 100%;
	margin : 2em 0;

}

.btn {
	background : $primary;
	padding : $global-padding $global-padding*2;
	margin : $global-padding 0;
	border : none;
	@include vendor-prefix(border-radius, 0);
	text-transform : uppercase;

	&:hover {
		opacity: 1;
		background : $secondary;
	}
}