/************************************************************************\
	VuSystems
	---------------------------------------------------------------------
	MODULE:		globals.scss
	PURPOSE:	global classes
	@author:	dan moe & chris grace
/************************************************************************/

.row {
	margin-left : -16px;
}

.fadein {
	opacity:0;
	margin-top: 2em;
	// @include vendor-prefix(transition, all 0.5s ease-in);

	// non js fallback
	.no-js &,
	&.inView {
		opacity:1;
		margin-top: 0;
	}
}

a {
	text-decoration : none !important;
	@include vendor-prefix(transition, all 0.3s linear);

	&:hover {
		opacity: 0.6;
	}
}

#footer a:hover {
	opacity: 0.6;
}

.readmore {
	text-transform : lowercase;
	&:hover {
		color:$neutral-light;
	}
}

.arrow {
	@include arrow-link();

	&.up {
		@include vendor-prefix(transform, rotate(180deg));
	}

	&.right {
		@include vendor-prefix(transform, rotate(-90deg));
	}

	&.jumptop {
		opacity: 0;

		&.in {
			opacity: 1;
		}
	}
}

.img-responsive {
	width : 100%;
	margin : 2em 0;

}

.btn {
	background : $primary;
	padding : $global-padding $global-padding*2;
	margin : $global-padding 0;
	border : none;
	@include vendor-prefix(border-radius, 0);
	text-transform : uppercase;

	&:hover {
		opacity: 1;
		background : $secondary;
	}
}

.slide-next {
	clear : both;
	float : right;
	position : relative;
	// bottom : -3em;
	// right : 1em;

	@include respond-to(medium){
		position : relative;
		z-index : 10;
		right : -3em;
	}
}

.cycle-pager {
	clear : both;
	float : left;
	text-align : right;
	position : relative;
	// bottom : -5em;

	// @include respond-to(medium) {
	// 	padding-left : 1em;
	// }

	a {
		display : inline-block;
		// float : left;
		width : 40px;
		height : 2px;
		background : $neutral-med;
		margin-right : 1em;

		&.cycle-pager-active,
		&:hover {
			background : $primary;
		}
	}
}

.grey {
	background : $neutral-light;
}

.secondary {
	background : $secondary;
}	
