/************************************************************************\
	VuSystems
	---------------------------------------------------------------------
	MODULE:		typography.scss
	PURPOSE:	text styles 
	@author:	dan moe & chris grace
/************************************************************************/
