/************************************************************************\
	VuSystems
	---------------------------------------------------------------------
	MODULE:		typography.scss
	PURPOSE:	text styles 
	@author:	dan moe & chris grace
/************************************************************************/

body {
	@include gotham();
}

.browserupgrade,
noscript {
	position : relative;
	z-index:1200;
	text-align : center;
	background: $primary;
	padding : $global-padding;
	color : #FFF;
	margin: 0;
	display : block;
	a {
		color : yellow;

		&:hover {
			color : $secondary;
		}
	}
}

noscript {
	background: $secondary;
}

.contactinfo li a span {
	@include gotham('bold');
}

.nav-wrap li {
	@include gotham('bold');
}

.home-intro h2 {
	@include gotham('medium');
	font-size : 1.3em;
	line-height : 1.5em;
	color : $primary;
}

.home-callout {
	h2 {
		@include gotham('black');
		text-transform : uppercase;
		letter-spacing: 0.05em;
		font-size : 1.6em;
		color : $primary;
	}

	h3 {
		@include gotham('black');
		text-transform : uppercase;
		letter-spacing: 0.05em;
		font-size : 1.2em;
		color : $secondary;
	}
}

.home-news h2 {
	@include gotham('black');
	text-transform : uppercase;
	font-size : 3em;
	color : #FFF;
	@include add-underscore($blink:true);
	@include respond-to(medium){
		margin-top : 0;
	}
}

.home-news p {
	@include gotham('bold');
	text-transform : uppercase;
	font-size : 1.3em;
	line-height : 1.5em;
	color : #FFF;
	position : relative;

	&.newsdate{
		@include respond-to(small){
			position : absolute;
			top : -3em;
			right : $global-padding;
		}
		@include respond-to(medium){
			left : -20%;
			top : auto;
			right : auto;
		}
	}
}

