/************************************************************************\
	VuSystems
	---------------------------------------------------------------------
	MODULE:		vars.scss
	PURPOSE:	cache main variables for use throughout the site
	@author:	dan moe & chris grace
/************************************************************************/

// COLOURS
$primary : #1b75bc;
$secondary : #13254b;

// SPACING
$global-padding : 1em;